# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# IntelliJ related
.idea/
*.iml
*.ipr
*.iws

# VSCode related
.vscode/

# Flutter specific
.analysis_options
.flutter-plugins
.flutter-plugins-dependencies
.packages
.Generated.xcconfig

# macOS
.DS_Store

# iOS/Android related
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Pods
android/.gradle/
android/app/proguard/
*.keystore
*.jks

# Windows
windows/runner/Debug/
windows/runner/Release/

# Linux
linux/ephemeral/

# Web
web/overflow_icons/

# Misc
*.log
.env
