node_modules/
.expo/
.expo-shared/
dist/
build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.*
yarn-error.*
.vscode/
.idea/
.gradle/
.swiftpm/
DerivedData/
.eas/
coverage/
.next/
out/
.turbo/
